.cartBox{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 20px;
    margin: 50px 0;
}
.table .quantity{
  display: flex;
  justify-content: space-between;

}
.table .quantity input{
  margin: 0px 20px;
}
.table tbody {
  border-top: 1px solid #c61d21;
  border-bottom: 1px solid #c61d21;
}
tbody tr td {
  border-bottom: 0px;
  text-align: center;
  vertical-align: middle;
}
tbody tr td img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
input{
  text-align: center;
}
.headCart{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headCart span{
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.headCart span:hover {
  background-color: #c61d21;
  color: #fff !important;
  box-shadow: 0px 5px 10px rgba(#000000, 00.3s);
}
